@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dadde2;
  --foreground: #171717;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
  /* height: 12px; */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  /* cursor: pointer */
}

/* Scrollbar corner (for both vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding:  0;
  position: absolute;
  z-index: 2;
  bottom: -2rem; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.style-task-tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.tooltip-container:hover .tooltiptext  {
  visibility: visible;
  opacity: 1;
}
.tooltip-container:hover .style-task-tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tooltip .tooltiptext ul li {
  padding: 3px;
  cursor: pointer;
}

.tooltip .tooltiptext ul li:hover {
  background-color: #555;
}

.checkBox-tooltip {
  width: 70%;
  top: -2.2rem;
  left: 0;
  visibility: hidden;
  transition: left 2s ease
}

.checkBox-conatiner:hover .checkBox-tooltip {
  /* width: 70%; */
  left: 6rem;
  visibility: visible;
  opacity: 1;
  /* transform: translateX(100%); */
}
